*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 84px;
    box-sizing: border-box;
}

.background-container{
    background: rgb(32,32,32);
    background: linear-gradient(0deg, rgba(32,32,32,1) 46%, rgba(82,82,82,1) 100%);
    width: 100%;
    height: 100vh    ;

}

.side-black-panel{
    float: left;
}
.side-panel{
    background-color: black;
    width: 230px;
    height: 100vh;
    float: left;
}
 @media (min-width: 230px) {
    .side-panel {
        width: 230px;
    }
}

@media (max-width: 1200px) {
    .side-panel {
        width: 220px;
    }
}

@media (max-width: 1000px) {
    .side-panel {
        width: 210px;
    }
}

@media (max-width: 768px) {
    .side-panel {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .side-panel {
        width: 100%;
    }
}
.text-and-cards-block{
    display: flex;
    flex-direction: column;
}
.good-afternoon-text{
    display: flex;
     align-items: end;
    
     
}

.h1-good-afternoon{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 33px;
    Width: 246px;
    line-height: 38px;
    Height: 38px;
    color: white;
   margin-top: 144px;
   margin-bottom: 22px;

}
.cards-song{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
  

}
.cards{
    display: flex;
    align-items: center;
    background: rgb(55,55,55);
    background: linear-gradient(0deg, rgba(55,55,55,1) 0%, rgba(82,82,82,1) 100%);
    width: 340px;
    height: 84px;

}
.cards:hover{
    background: rgb(95,92,92);
    background: linear-gradient(0deg, rgba(95,92,92,1) 0%, rgba(82,82,82,1) 100%);
}
.card-img{
    
}
.card-text{
 width: 120px;
height: 20px;
color: white;
font-family: "Nunito", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 20.24px;
margin: 0 auto;
}
